{% load staticfiles %}

<div id="top-slider">

  <section class="slider intro-slider">

    <div class="flexslider">



      <ul class="slides" >
        <li >
          <div class="row">
            <div class="col full">
              <div class="slider-text">
                <div class="col-md-6 col-md-offset-3">
                <!-- <h2 style="background-color: aliceblue;"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam commodi deserunt est exercitationem doloribus accusantium</span></h2> -->
              </div>
                
              </div>
            </div>
          </div>
        </li>


        <li>
          <div class="row">
            <div class="col full">
              <div class="slider-text">
                <!-- <h2 style="background-color: aliceblue;"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam commodi deserunt est exercitationem doloribus accusantium</span></h2> -->
              </div>
            </div>
          </div>
        </li>



      </ul>

    </div>
    <!--flexslider-->
  </section>

</div>
<!--top-slider-->