<div class="col-md-3 col-sm-3 col-lg-3 col-sm-pull-9 sidebar-left">

    <div id="search-book" class="">
      <form>
        <div class="form-group">
          <input type="" class="form-control" placeholder="Search Books…">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div><!-- search-book -->

    <div class="books-categories">
      <h3>Books Categories</h3>

      <ul class="">
        <li class=""><a> Action and Adventure </a>
          <ul class="children">
            <li class=""><a>Action</a></li>
            <li class=""><a>Adventure</a></li>
          </ul>
        </li>

        <li class=""><a>Detective and Mystery</a>
          <ul class="children">
            <li class=""><a>Detective</a></li>
            <li class=""><a>Mystery</a></li>
          </ul>
        </li>

        <li class=""><a>Fantasy</a></li>
        <li class=""><a>Historical Fiction</a></li>

      </ul>
      <!--product-categories-->
    </div>
    <!--books_categories-->

  </div>
  <!--sidebar-left-->

